<table
  class="table table-danger table-striped table-hover table-bordered border-danger"
  routerLink="/cars"
>
  <div>
    <h4>All Cars</h4>
  </div>
</table>

<table
  class="table table-danger table-striped table-hover table-bordered border-danger"
>
  <thead>
    <h4>Brands</h4>
  </thead>
</table>

<ul class="list-group">
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/{{ brand.brandId }}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>

<!-- <h5 *ngIf="currentBrand">{{ currentBrand.brandName }} seçtiniz</h5> -->
