<table
  class="table table-danger table-striped table-hover table-bordered border-danger"
>
  
  <div class="container">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let car of carDetails">
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </div>
</table>
